
.*
!.gitkeep
!.gitignore
tags

# patch command backup file
*.rej
*.orig
*.diff
*.patch

# cash
*~
*.swp
/.vscode

# generated
*.ttx
*.otf
*.ttf
*.exe

# object
*.d
*.o

# object
/obj
/object

# work
*.back
/work*
/tmp*
/gabage*
/log*

# work
/*-book

