
.*
!.gitkeep
!.gitignore
tags
# patch command backup file
*.rej
*.orig
# cash
*~
#
*.back


*.otf
*.ttf
*.exe

*.d
*.o

*.swp
*.patch

/obj
/object
/work
/tmp
/gabage
/log

/.vscode

/*-book

#
*.ttx

